* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", sans-serif;
}

body {
  background-color: #fff0a6;
}
.wrapper {
  width: 90%;
  margin: 0 auto;
}

header {
  padding: 3em 0 1em;
}

h1 {
  display: block;
  width: 20%;
  text-align: center;
  margin: 0 auto;
  padding: 0 0.5em;
  text-align: left;
  font-weight: 700;
  font-size: 2em;
  color: #49146d;
  font-family: cursive;
}

@media screen and (max-width: 1120px) {
  h1 {
    width: 25%;
  }
}
@media screen and (max-width: 900px) {
  header {
    padding-top: 2em;
  }
  h1 {
    width: 30%;
    font-size: 1.5em;
  }
}
@media screen and (max-width: 600px) {
  header {
    padding-top: 1em;
  }
  h1 {
    font-size: 1em;
  }
}
